<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>My Story Booklet PDF file</h3>

<p>Hi, <%= @job.username %></p>

<p>A PDF file with your story has being attached.<br> If you have any visual corrections with the formatting you can go back and make changes and publish again.</p>

<p>Make sure that your story fits with the allotted 3 pages.</p>

<p>If you still have issues, forward a copy of this email to <a href="mailto:tsw@cru.org">tsw@cru.org</a></p>


<br><br><br>
<p>Publication ID: <%= @job.publication_id %></p>
</body>
</html>