My Story Booklet PDF file
=========================

Hi, <%= @job.username %>

A PDF file with your story has being attached.
If you have any visual corrections with the formatting you can go back and make changes and publish again.

If you still have issues, forward a copy of this email to <a href="mailto:tsw@cru.org">tsw@cru.org</a>



Publication ID: <%= @job.publication_id %>