<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <%= render "/search" %>
      <li>
        <a href="<%= jobs_path %>"><i class="fa fa-wrench fa-fw"></i> Jobs</a>
      </li>
    </ul>
  </div>
  <!-- /.sidebar-collapse -->
</div>